/*
body {
  background-color: black;
}*/
/** {
  border: 1px solid red;
}*/
html {
	font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #00ccff;
}

a {
  text-decoration: none;
}

nav li {
  display: inline-block;
  margin-left: 2em;
  text-decoration: none;
}
