@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


/*
body {
  background-color: white;
}
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/** {
  border: 1px solid red;
}
*/
.landing-container {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.video-container {
  position: relative;
  min-height: 650px;
}

.mission-statement-container {
  width: 100%;
  background-color: white;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 20%;
  padding-right: 20%;
  opacity: 0.85;

}

.mission-statement {
  text-align: justify;
  font-size: 25px;
  line-height: 200%;
  color: #006699;;
}



/*div {
  display: block;
}*/

html {
  font-family: 'Roboto', sans-serif;
}

.menubar {
  background-color: black;
}

.nav-item {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #006699;
}

a {
  text-decoration: none;
}

.sign-out {
  color: white;
  left-margin: 20px;
}


.sub-title {
  letter-spacing: .15em;
  color: white;
}

.page-header {
  margin-top: 50px;
  text-align: center;
  color: #006699;
}

.glossary-term {
  font-weight: bold;
}

.title {
  font-family: 'Maven Pro';
  font-size: 3em;
  margin-bottom: 0;
  color: #00ccff;
  text-shadow:
  1px 0px 1px #ccc, 0px 1px 1px #eee,
  2px 1px 1px #ccc, 1px 2px 1px #eee,
  3px 2px 1px #ccc, 2px 3px 1px #eee,
  4px 3px 1px #ccc, 3px 4px 1px #eee,
  5px 4px 1px #ccc, 4px 5px 1px #eee,
  6px 5px 1px #ccc, 5px 6px 1px #eee,
  7px 6px 1px #ccc;
}


.slogan {
  color: #00ccff;
  text-align: center;
  margin-top: 220px;
  font-size: 30px;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  background-size: cover;
  -webkit-filter: brightness(45%);

}

.container {
  margin-top: 10px;
  margin-right: 5%;
  margin-left: 5%;
}

/*.columns {
  border: 1px solid red;
}*/


div {
  margin-top: 20px;
  margin-bottom: 20px;
}