@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

/*
body {
  background-color: black;
}*/
/** {
  border: 1px solid red;
}*/
html {
	font-family: 'Roboto', sans-serif;
}

/*nav {
  border: 1px solid #777AC7;
  background-color: #777AC7;
}

a {
  text-decoration: none;
  color: #FFC000;
}

.nav-item {
  text-decoration: none;
  color: #FFC000;
}
.sub-title {
  letter-spacing: .15em;
}

.title {
  font-family: 'Maven Pro';
  font-size: 3em;
  margin-bottom: 0;
  color: #00ccff;
  text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

nav li {
  display: inline-block;
  margin-left: 20px;
  text-decoration: none;

}*/
 .slogan {
  color: #00ccff;
  text-align: center;
  margin-top: 220px;
  font-size: 30px;
 }

.video-container {
  position: absolute;
  z-index: -100;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  background-size: cover;
  -webkit-filter: brightness(45%);

}


#container {
	margin-right: 20px;
	margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
